<nav class="navbar">
	<div class="container-fluid">
		<div class="d-flex">
			<img src="../../../assets/img/logoCC.png" alt="Celta Learning Logo" class="mx-2">
			<h1 class="mx-2">Bienvenido a Celta Consulting</h1>
		</div>
		<a href="dashboard/home" class="navWelcomeGetIn"><b>INGRESAR</b></a>
	</div>
</nav>
<div class="container welcomeContainer">
	<main>
		<section class="services m-2">
			<p>Aquí, en nuestra página de empleados, podrás administrar y gestionar los Cursos, Estudiantes y
				Profesores.
			</p>
			<p>Recuerda, Somos la mejor consultora de servicios IT especializada en el sector laboral.</p>
			<h2>Nuestros Servicios</h2>
			<ul>
				<li>Desarrollo de Software</li>
				<li>Consultoría IT</li>
				<li>Capacitación en Tecnología</li>
			</ul>
		</section>

		<section class="abm-buttons">
			<h3>En nuestra página de Administración podrás dirigirte a:</h3>
			<div class="button-group d-flex justify-content-center">
				<button class="btn welcomeButton m-2"><a href="dashboard/students">ABM Estudiantes</a></button>
				<button class="btn welcomeButton m-2"><a href="dashboard/professors">ABM Profesores</a></button>
				<button class="btn welcomeButton m-2"><a href="dashboard/courses">ABM Cursos</a></button>
			</div>
		</section>
	</main>

	<footer class="text-center">
		<p>&copy; 2024 Celta Consulting - Todos los derechos reservados.</p>
	</footer>
</div>