<mat-drawer #drawer class="example-sidenav" mode="side">
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="drawer.toggle()"></button>
    <mat-nav-list>
        <a #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive" routerLink="home" mat-list-item (click)="drawer.toggle()">Inicio</a>
    </mat-nav-list>
    <h3 (click)="showStudents = !showStudents" class="navbarButtons">Alumnos</h3>
    @if (showStudents) {
        <mat-nav-list>
            <a #studentsLink="routerLinkActive" routerLinkActive [activated]="studentsLink.isActive" routerLink="students" mat-list-item (click)="drawer.toggle()">Todos</a>
            <a #studentsLink="routerLinkActive" routerLinkActive [activated]="studentsLink.isActive" routerLink="students" mat-list-item (click)="drawer.toggle()">Web Developer</a>
            <a #studentsLink="routerLinkActive" routerLinkActive [activated]="studentsLink.isActive" routerLink="students" mat-list-item (click)="drawer.toggle()">Angular</a>
        </mat-nav-list>
    }
    <h3 (click)="showCourses = !showCourses" class="navbarButtons">Cursos</h3>
    @if (showCourses) {
        <mat-nav-list>
            <a routerLink="" mat-list-item >Todos</a>
            <a routerLink="" mat-list-item >Web Developer</a>
            <a routerLink="" mat-list-item >Angular</a>
        </mat-nav-list>
    }
    <h3 (click)="showProfessor = !showProfessor" class="navbarButtons">Profesores</h3>
    @if (showProfessor) {
        <mat-nav-list>
            <a routerLink="" mat-list-item >Todos</a>
            <a routerLink="" mat-list-item >Web Developer</a>
            <a routerLink="" mat-list-item >Angular</a>
        </mat-nav-list>
    }
</mat-drawer>

<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Celta Learning</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>